<h1>Project</h1>
<hr>
<div class="container">
    <div class="card black-text">
        <div class="card-content">
            <form action="/admin/projects/{{project.id}}/update">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="name" id="name" value="{{project.name}}">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="description" id="description" cols="30" rows="10"
                            class="materialize-textarea">{{project.description}}</textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name="imagePath" value="{{project.imagePath}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="links">
                        {{#each project.links}}
                        <p class="link">{{this.name}} | <a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
                        {{/each}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input type="text" name="link.name" id="linkName">
                        <label for="link.name">Name (Ionicon Name)</label>
                        <span class="helper-text">Add another link</span>
                    </div>
                    <div class="input-field col s8">
                        <input type="text" name="link.url" id="linkUrl">
                        <label for="link.url">URL</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn-floating btn-small waves-effect waves-light green" id="addLink"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
                {{!-- <div class="row">
                    <div class="input-field col s12">
                        <select multiple>
                            {{#each software}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label>Materialize Multiple Select</label>
                    </div>
                </div> --}}
                <div class="row">
                    <div class="input-field col s12">
                        {{#each software}}
                        <p>
                        <label>
                            <input type="checkbox" {{#if this.checked}}checked="checked"{{/if}}>
                            <span>{{this.name}}</span>
                        </label>
                        </p>
                        {{/each}}
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<script src="/assets/js/jquery-3.4.1.js"></script>
<script src="/assets/js/materialize.js"></script>

<script>
    $(document).ready(function () {
        M.updateTextFields();
        $("select").formSelect();
    });

    $("#addLink").on("click", function (event) {
        event.preventDefault();
        var projectId = "{{project.id}}";

        let link = {
            name: $("#linkName").val().trim(),
            url: $("#linkUrl").val().trim()
        };
        // $("#links").append(
        //     $("<p>")
        //         .addClass("link")
        //         .html(`${link.name} | <a href="${link.url}" target="_blank">${link.url}</a>`)
        // );

        $.post("/admin/projects/" + projectId + "/addLink", link).then(() => {
            window.location.reload();
        })
    });
</script>